<template>
    <b-container>
        <b-row class="h-100" align-v="center" fluid>
            <b-row align-h="center" >
                <b-col style="margin-bottom: 32pt;" cols="12" class="lg-font text-center">Abilities</b-col>
                <b-col class="mb-5" md="10" lg="5">
                    <b-card
                        no-body
                        bg-variant="dark" 
                        text-variant="white"
                    >
                        <b-card-body>
                            <b-col class="primaryLight sm-font text-center mb-3" cols="12">
                                Skill Set
                            </b-col>
                            <b-row align-h="center">
                                <b-col v-for="skill in iOS_Skill" :key="skill.name" cols="6">
                                    <b-row align-h="center">
                                        <b-col class="d-none d-sm-block" align-self="baseline" cols="2">
                                            <i class="primaryMain fas fa-award fa-1x mb-3"></i>
                                        </b-col>
                                        <b-col align-self="stretch" sm="12" md="9">
                                            <div>{{skill.name}}</div>
                                            <div class="xs-font">{{skill.abl}}</div>
                                        </b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                        </b-card-body>
                    </b-card>
                </b-col>
                <b-col class="mb-5" md="10" lg="5">
                    <b-card
                        no-body
                        bg-variant="dark" 
                        text-variant="white"
                    >
                        <b-card-body>
                            <b-col class="primaryLight sm-font text-center mb-3" cols="12">
                                Patterns
                            </b-col>
                            <b-row align-h="center">
                                <b-col v-for="pattern in design_Pattern" :key="pattern.name" cols="5">
                                    <b-row align-h="center">
                                        <b-col class="d-none d-sm-block" align-self="baseline" cols="2">
                                            <i class="primaryMain fas fa-award fa-1x mb-3"></i>
                                        </b-col>
                                        <b-col align-self="stretch" sm="12" md="9">
                                            <div>{{pattern.name}}</div>
                                            <div class="xs-font">{{pattern.abl}}</div>
                                        </b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                        </b-card-body>
                    </b-card>
                </b-col>
            </b-row>
        </b-row>
    </b-container>
</template>

<script>
export default {
    data() {
        return {
            iOS_Skill: [
                { name: 'Swift', abl: 'Adv' },
                { name: 'Obj-c', abl: 'Basic' },
                { name: 'ReactiveX', abl: 'Bacic' },
                { name: 'Xib', abl: 'Int' },
                { name: 'Testing', abl: 'Basic' },
                { name: 'Pods', abl: 'Basic' },
                { name: 'SPM', abl: 'Basic' },
                { name: 'Git', abl: 'Int' }
            ],
            design_Pattern: [
                { name: 'MVC', abl: 'Adv' },
                { name: 'MVVM', abl: 'Adv' },
                { name: 'Coor', abl: 'Bacic' },
                { name: 'MVI', abl: 'Bacic' },
                { name: 'FRP', abl: 'Int' },
                { name: 'POP', abl: 'Basic' },
                { name: 'OOP', abl: 'Int' },
                { name: 'Visitor', abl: 'Basic' }
            ]
        }
    },
    computed: {
        chunkedArr() {
            const result = []
            for (let i = 0; i < this.iOS_Skill.length; i += 2)
                result.push(this.iOS_Skill.slice(i, i + 2))
            return result
        }
    } 
}
</script>

<style scoped>
@media (max-width: 720px) {
    .card-body {
        padding: 0.3rem;
    }
}

.sm-font {
    font-weight: 600;
}
</style>