<template>
    <b-container>
        <b-row class="h-100" align-v="center" fluid>
            <b-row>
                <b-col style="margin-bottom: 32pt;" cols="12" class="lg-font text-center">About Me</b-col>
                <b-col class="d-none d-sm-block mb-3" align-self="center" sm="12" lg="6">
                    <b-img style="border-radius: 0.25rem;" src="static/personal-image.jpg" draggable="false" fluid />
                </b-col>
                <b-col sm="12" lg="6" align-v="stretch">
                    <b-row class="text-center mb-5">
                        <b-col class="d-none d-sm-block" cols="6">
                            <b-card
                                no-body
                                bg-variant="dark" 
                                text-variant="white"
                            >
                                <b-card-body>
                                    <i class="fas fa-suitcase fa-1x mb-3"></i>
                                    <b-row class="mb-3" align-v="center" fluid>
                                        <b-col class="mb-1 sm-font" cols="12"> Experience </b-col>
                                        <b-col class="xs-font" cols="12"> 4+ Years Working </b-col>
                                    </b-row>
                                </b-card-body>
                            </b-card>
                        </b-col>
                        <b-col class="d-none d-sm-block" cols="6">
                            <b-card
                                no-body
                                bg-variant="dark" 
                                text-variant="white"
                            >
                                <b-card-body>
                                    <i class="fas fa-check-circle fa-1x mb-3"></i>
                                    <b-row class="mb-3" align-v="center" fluid>
                                        <b-col class="mb-1 sm-font" cols="12"> Completed </b-col>
                                        <b-col class="xs-font" cols="12"> 10+ Projects </b-col>
                                    </b-row>
                                </b-card-body>
                            </b-card>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col align-self="center" class="about-font text-left mb-5">
                            An iOS developer who love to create side projects for fun. Interested in create applications with UI / UX user interfacve, I have years of experience and many clients are happy with the projects carried out. 
                        </b-col>
                        <b-col style="text-align:center;" align-self="center" cols="12">
                            <b-button variant="light"> Contact Me </b-button> 
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-row>
    </b-container>
</template>



<style scoped>

.sm-font {
    font-size: 20pt;
    font-family: 'PT Mono', monospace;
}

.about-font {
    font-size: 17pt;
    color: white;
    font-weight: 200;
}

.xs-font {
    font-size: 12pt;
    opacity: 0.5;
    font-family: 'PT Mono', monospace;
}

</style>