<template>
    <b-container fluid center>
        <b-row>
            <b-col class="text-center lg-font" align-self="start" lg="12" xl="5">Experience</b-col>
            <b-col lg="12" xl="7">
                <vue-timeline-update
                    :date="new Date('2017-11-1')"
                    title="China Life Insurance Co., Ltd."
                    description="
                    Language：Swift, Objective-C(fraction)<br />
                    Architecure：MVVM, MVC, Coordinator, Functional Programming<br />
                    Libraries： Internal Libraries, Charts, RxSwift, AFNetworking<br />
                    Database：Realm<br />
                    － Responsible for working with the team to develop the app iShare for China Life's sales and presentation of insurance products. Maintain and optimize the main calculation forms and related requirements in the app.<br />
                    － Develop test function, disassemble the csv provided by actuarial department and insert to calculate library and export the txt file for confirmation by relevant departments.<br />
                    <pre>"
                    thumbnail="https://picsum.photos/790/302/?image=32"
                    category="2019/11~2020/07"
                    icon="code"
                    color="red" />
            
                <vue-timeline-update
                    :date="new Date('2018-09-1')"
                    title="Curdoctor Information Service Corp."
                    description="
                    Language：Swift<br />
                    Architecure：MVVM, MVC<br />
                    Libraries：Intel® CS for WebRTC, RxSwift, RxCocoa, RxAlamofire, RxDataSource, RxWebKit<br />
                    － Assist business owners to manage engineering team and product development and also responsible for iOS App maintenance, refactoring and new product development.<br />
                    － Develop voip medical application with CallKit and Intel® CS for WebRTC.<br />
                    － Using RxSwift+MVVM Architecture to Reduce Maintenance Costs and Improve Project Quality and User Experience by Reducing Bugs.<br />
                    － Set up gitlab CI/CD server and write gitlab CI/CD scripts, compile and package multiple apps and upload them to Testflight.<br />
                    － Introduce the basic CI/CD process into the company's web development team, hoping to reduce the work loading of team members.<br />
                    － Attempted to bring agile culture into the company, but due to the business process requirements of the owners, they have switched to using kanban alone to track the progress of the team.<br />
                    "
                    thumbnail="https://picsum.photos/790/302/?image=33"
                    category="2018/9~2019/10"
                    icon="code"
                    color="turquoise" />

                <vue-timeline-update
                    :date="new Date('2018-03-1')"
                    title="Instance Taiwan Co., Ltd."
                    description="
                    Language：Swift<br />
                    Architecure：MVC<br />
                    Libraries：MapKit, Google Firebase, Facebook、G+ Oauth<br />
                    － Responsible for team development and management of new projects.<br />
                    － Coordinate communication and requirements between front and back-end and designers.<br />
                    － Assisting company in negotiating with contractors on the progress of outsourcing projects<br />"
                    thumbnail="https://picsum.photos/790/302/?image=34"
                    category="2018/3~2018/8"
                    icon="code"
                    color="white"
                    is-last />
            </b-col>
        </b-row>
    </b-container>
</template>

<style scoped>
.lg-font { 
    color: white;
    font-size: 10vh; 
    font-family: 'PT Mono', monospace;
}

@media (max-width: 768px) {
    .lg-font { font-size: 7vh; }
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl  { 
    background-image:url('/static/code_bg.png');
    background-repeat:no-repeat;
}
</style>