<template>
    <b-container fluid>
        <b-navbar toggleable="lg" type="dark">
            <b-navbar-brand>
                <b-img width="256" draggable="false" class="filter-sign" src="/static/sign.png" />
            </b-navbar-brand>
            <b-navbar-toggle target="nav-collapse" />
            <b-collapse id="nav-collapse" is-nav>
            <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item right>
                        <b-button onclick="window.location='https://github.com/jack45j'" size="lg">
                            <i class="fab fa-github"></i>
                        </b-button>
                        <b-button onclick="window.location='https://www.facebook.com/profile.php?id=100000238070025'" size="lg">
                            <i class="fab fa-facebook"></i>
                        </b-button>
                        <b-button onclick="window.location='https://www.linkedin.com/in/benosn-lin'" size="lg">
                            <i class="fab fa-linkedin"></i>
                        </b-button>
                    </b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <b-row align-v="center">
            <b-col sm="12" lg="6">
                <b-row>
                    <b-col class="basic-white-font sm-font" offset="2" center cols="10">Hello, I'm</b-col>
                    <b-col class="basic-white-font lg-font" offset="2" xs="4" sm="12">Benson Lin</b-col>
                    <b-col class="basic-white-font sm-font" offset="3" xs="4" sm="12">An iOS Developer from Taiwan</b-col>
                </b-row>
            </b-col>
            <b-col sm="12" lg="6">
                <b-img class="center-img" src="/static/personal-working.jpg" draggable="false" fluid center />
            </b-col>
        </b-row>
    </b-container>
</template>


<style scoped>
.center-img {
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 60vh;
    filter: saturate(40%) sepia(20%);
}

@media (max-width: 720px) {
    .center-img { max-height: 45vh; }
}

.filter-sign { filter: invert(100%) grayscale(100%) contrast(1000%); }

.btn-secondary {
    background-color: transparent;
    border-color: transparent;
}

.navbar .navbar-brand {
    color: white;
    font-size: 2rem;
}

.navbar {
    height: 168px;
    /* margin-left: 10%;
    margin-right: 10%; */
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}
</style>