<template>
    <b-container fluid>
        <b-row>
            <b-col cols="12" offset="1" class="lg-font">Projects</b-col>
        </b-row>
        <b-row align-v="center" style="padding: 5%;">
            <b-col md="6" lg="8">
                <b-img class="shadow-lg bg-black" src="https://picsum.photos/790/502" draggable="false" fluid center />
            </b-col>
            <b-col class="v-100 custom-font-pos-left" md="6" lg="4">
                <b-row>
                    <b-col cols="12" class="lg-font">iShare</b-col>
                    <b-col cols="12" class="md-font">Proposal App for China-Life's sales</b-col>
                    <b-col cols="12" class="sm-font">中國人壽商品試算核心App，主要功能提供業務人員輸入保戶資料後試算欲投保保險商品各年度保費、利益分析表、產出報表並匯出至銷售App iAgent進行銷售。</b-col>
                    <b-col cols="12">
                        <b-row align-h="end">
                            <b-button onclick="window.location='https://github.com/jack45j'" size="lg">
                                <i class="fab fa-app-store-ios"></i>
                            </b-button>
                            <b-button onclick="window.location='https://www.facebook.com/profile.php?id=100000238070025'" size="lg">
                                <i class="fab fa-google-play"></i>
                            </b-button>
                        </b-row>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>

        <b-row align-v="center" style="padding: 5%; background-color: gray;">
            <b-col style="z-index: 1;" class="v-100" md="6" lg="4">
                <b-row>
                    <b-col cols="12" class="lg-font custom-font-pos-right">CurDr</b-col>
                    <b-col cols="12" class="md-font custom-font-pos-right">Voip App for Telemedicine</b-col>
                    <b-col cols="12" class="sm-font custom-font-pos-right">醫生馬上看(民眾版, 醫生版, 企業版)是一個遠距醫療平台，App由Web View以及視訊技術組成使用RxSwift+MVVM架構作開發，使用Intel CS WebRTC實現視訊技術，專案期間也不斷精進自己，學習與WkWebView的資料交換及Voip與CallKit搭配的實作，也於在職期間將專案用更清楚的架構重構，以降低維護成本，並有效減少專案bug以提升專案品質與使用者體驗</b-col>
                    <b-col cols="12">
                        <b-row align-h="end">
                            <b-button onclick="window.location='https://github.com/jack45j'" size="lg">
                                <i class="fab fa-app-store-ios"></i>
                            </b-button>
                            <b-button onclick="window.location='https://www.facebook.com/profile.php?id=100000238070025'" size="lg">
                                <i class="fab fa-google-play"></i>
                            </b-button>
                        </b-row>
                    </b-col>
                </b-row>
            </b-col>
            <b-col md="6" lg="8">
                <b-img class="shadow-lg bg-black" src="https://picsum.photos/790/502" draggable="false" fluid center />
            </b-col>
        </b-row>

        <b-row align-v="center" style="padding: 5%;">
            <b-col md="6" lg="8">
                <b-img class="shadow-lg bg-black" src="https://picsum.photos/790/502" draggable="false" fluid center />
            </b-col>
            <b-col class="v-100 custom-font-pos-left" md="6" lg="4">
                <b-row>
                    <b-col cols="12" class="lg-font">Font Gallery</b-col>
                    <b-col cols="12" class="md-font">Proposal App for China-Life's sales</b-col>
                    <b-col cols="12" class="sm-font">「字型藝廊 - 字型預覽工具」列出了所有的iOS內建字型供設計師參考
                    讓設計師更容易的設計出更棒更完美的產品!!
                    - 「字型藝廊 - 字型預覽工具」使用起來非常的簡單且介面簡單<br />
                    - 方便使用的搜尋列<br />
                    - 編輯任何您喜歡的文字、語句來瀏覽字型<br />
                    - 列出iOS 建議開發使用者介面時常用的字級<br />
                    - 用任何您喜歡的字體大小預覽字型<br /></b-col>
                    <b-col cols="12">
                        <b-row align-h="end">
                            <b-button onclick="window.location='https://github.com/jack45j'" size="lg">
                                <i class="fab fa-app-store-ios"></i>
                            </b-button>
                            <!-- <b-button onclick="window.location='https://www.facebook.com/profile.php?id=100000238070025'" size="lg">
                                <i class="fab fa-google-play"></i>
                            </b-button> -->
                        </b-row>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>

        <!-- <b-row align-v="center" style="padding: 5%;">
            <b-col style="z-index: 1;" class="v-100" md="6" lg="4">
                <b-row>
                    <b-col cols="12" class="lg-font custom-font-pos-right">魔物獵人筆記：世界</b-col>
                    <b-col cols="12" class="md-font custom-font-pos-right">Voip App for Telemedicine</b-col>
                    <b-col cols="12" class="sm-font custom-font-pos-right">於魔物獵人發售後於兩天內開發完成第一版，搭配Google Firebase資料庫實現內容資料與圖片可線上即時更新、增加、刪減資料的參考類App，已經突破80000次下載量，今年初嘗試著手重構這個App，用更乾淨的DataModel來拆解資料以及更容易重複使用的xib元件使程式碼更乾淨更有擴展性，同時也一邊使用sketch學習設計UI介面，希望自己的技能能夠更加全面打造更好的App</b-col>
                    <b-col cols="12">
                        <b-row align-h="end">
                            <b-button onclick="window.location='https://github.com/jack45j'" size="lg">
                                <i class="fab fa-app-store-ios"></i>
                            </b-button>
                            <b-button onclick="window.location='https://www.facebook.com/profile.php?id=100000238070025'" size="lg">
                                <i class="fab fa-google-play"></i>
                            </b-button>
                        </b-row>
                    </b-col>
                </b-row>
            </b-col>
            <b-col md="6" lg="8">
                <b-img class="shadow-lg bg-black" src="https://picsum.photos/790/502" draggable="false" fluid center />
            </b-col>
        </b-row> -->
    </b-container>
</template>



<style scoped>
.lg-font { 
    color: white;
    font-size: 10vh; 
    font-family: 'PT Mono', monospace;
}

.md-font {
    color: white;
    font-size: 4vh; 
    padding: 5%;
    font-family: 'Noto Sans TC', sans-serif;
}

.sm-font {
    color: white;
    font-size: 2vh;
    padding: 5%;
    font-family: 'Noto Sans TC', sans-serif;
}

.custom-font-pos-left {
    /* position: absolute;  */
    margin-left: -20%; 
}

.custom-font-pos-right {
    /* position: absolute;  */
    margin-left: 50%; 
}

.filter-sign { filter: invert(100%) grayscale(100%) contrast(1000%); }

@media (max-width: 768px) {
    .lg-font { font-size: 7vh; }
    .custom-font-pos-left { margin: auto; }
    .custom-font-pos-right { margin: auto; }
    .filter-sign { width: 200px; }
}

/* .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl  { 
    height: 100vh;  
} */

.btn-secondary {
    background-color: transparent;
    border-color: transparent;
}

</style>