<template>
  <div id="app">
    <full-page ref="fullpage" :options="options" id="fullpage">
      <Landing class="section" />
    
      <About class="section" />
      <Abilities class="section" />
      <!-- <Experience /> -->
      <!-- <Portfolio class="section" /> -->
    </full-page>
  </div>
</template>

<script>
import Landing from './components/LandingPage.vue'
import About from './components/AboutPage.vue'
import Abilities from './components/AbilitiesPage.vue'
// import Experience from './components/ExperiencePage.vue'
// import Portfolio from './components/PortfolioPage.vue'

export default {
  name: 'App',
  components: {
    Landing,
    About,
    Abilities
    // Experience,
    // Portfolio
  },
  data() {
    return {
      options: {
        licenseKey: 'WlkP66D?v1',
        menu: '#menu',
        anchors: ['page1', 'page2', 'page3']
      } 
    }
  },
}
</script>

<style>
html, body, #app {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 100%);
}

.lg-font { 
    color: white;
    font-size: 10vh; 
    font-family: 'PT Mono', monospace;
}

.md-font {
    color: white;
    font-size: 4vh; 
    font-family: 'Noto Sans TC', sans-serif;
}

.sm-font {
    color: white;
    font-size: 2vh;
    font-family: 'Noto Sans TC', sans-serif;
}

.xs-font {
    font-size: 12pt;
    opacity: 0.5;
    font-family: 'PT Mono', monospace;
}

@media (max-width: 720px) {
    .row { 
        margin: 0 !important; 
    } 
    .lg-font { font-size: 5vh; }
    .md-font { font-size: 3vh;}
    .filter-sign { width: 200px; }
}

.primaryDark {
  color: rgb(76, 95, 239);
}

.primaryMain {
  color: rgb(90, 123, 239);
}

.primaryLight {
  color: rgb(222, 228, 252);
}

</style>
